{%extends 'base.html'%}

{%block content%}

	<div class="row">
		<div class="col-12">

	<form method="GET" action="">
		<input type="text" name="query" placeholder="Nombre" value="{{request.GET.query}}">
		<input type="submit" value="Buscar">
	</form>

		{%for MoviesByCategory in ListOfMoviesByCategory%}

			<h2>{{MoviesByCategory.category}}</h2>

			<div class="row">

			{%for movie in MoviesByCategory.movies%}

				<div class="col-4 col-sm-3 col-md-2">
					<a href="{%url 'Movies:MovieDetail' movie.slug%}">
						<img src="{{movie.image}}" alt="{{channel.name}}" class="d-block mx-auto" style="width: 100%;">
					</a>
					<p class="text-center">{{movie.name}}<br>{{movie.year}}</p>
				</div>

			{%empty%}

				<div class="col-12">
					<p>Movie list empty</p>
				</div>

			{%endfor%}

			</div>

		{%endfor%}

		</div>
	</div>

{%endblock content%}