.content, .sub-title{
	padding-top: 40px;
}

.myphoto{
	height: 25px;
	width: 25px;
}
@media screen and (min-width: 992px) {
    .navbar-brand{
        padding-left: 86px;
    }
    .ml-auto{
        padding-right: 86px;
    }
}

@media screen and (max-width: 420px) {
.sub-title{
	padding-top: 25px;
}
}

.landing {
    background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX1982952.jpg');
    background-size: cover;
    height: 100vh;
    padding: 20px;
}