.content, .sub-title{
	padding-top: 50px;
}

@media screen and (min-width: 992px) {
    .navbar-brand{
        padding-left: 86px;
    }
    .ml-auto{
        padding-right: 86px;
    }
}

@media screen and (max-width: 420px) {
.sub-title{
	padding-top: 25px;
}
}