{%extends 'base.html'%}

{%block content%}

	<style type="text/css">
	.embed-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    height: 0;
	    overflow: hidden;
	}
	.embed-container iframe {
	    position: absolute;
	    top:-52px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}	
	</style>

	<div class="row">
		<div class="col-md-7">
			<h2>{{chapter.name}}</h2>
			{%if '.mp4' in movie.link or '.mkv' in movie.link%}
			<video controls autoplay controlsList="nodownload"  style="width: 100%;">
			<source src="{{chapter.link}}">
			Your browser does not support the video tag.
			</video>
			{%else%}
			<div class="embed-container">
			<iframe width="640" height="360" src="{{chapter.link}}" frameborder="0" allowfullscreen></iframe>
			</div>
			{%endif%}
		</div>
		<div class="col-md-5">
			<h3>Synopsis</h3>
			<p class="text-justify">{{chapter.synopsis}}</p>
			<p>Duration: {{chapter.duration}}</p>
		</div>
	</div>

{%endblock content%}