{%extends 'base.html'%}

{%block content%}

<div class="row">
	<div class="col-md-6">
		
		 <h1>Payments</h1>

		{%if request.user.is_staff%}
		<h3>User's info</h3>
		<p>Name: {{user.get_full_name}}</p>
		<p>Monthly payment: {{user.profile.monthly_payment}} {{user.profile.foreign_currency}}</p>
		<p>Country: {{user.profile.country}}</p>
		</div>
		<div class="col-md-6">
		<form method="post">
			<div class="form-group">
				<h3>Make payment</h3>
				{% csrf_token %}
				{{form.as_p}}
				<button type="submit">Save changes</button>
			</div>
		</form>
		<h3>List</h3>
		{%endif%}
	</div>
	
	
	<div class="col-12">
		<div class="table-responsive">
			<table class="table table-bordered text-center">
				<thead>
					<tr>
						<th>Date</th>
						<th>Identifier number</th>

						<th>Validate until</th>
						<th>Method</th>
						<th>Quantity</th>
						<th>Reference number</th>
						<th>Voucher</th>
						{%if request.user.is_staff%}
						<th>Realized by</th>
						{%endif%}									
					</tr>
				</thead>
				<tbody>
		{%for payment in payments%}
					<tr>
						<td>{{payment.created}}</td>
						<td>{{payment.pk}}</td>
						<td>{{payment.deadline}}</td>
						<td>{{payment.method}}</td>
						<td>${{payment.quantity}} {{user.profile.foreign_currency}}</td>
						<td>{%if payment.reference_number%}{{payment.reference_number}}{%endif%}</td>
						<td>{%if payment.voucher%}<a href="{{payment.voucher.url}}">See</a>{%endif%}</td>
						{%if request.user.is_staff%}
						<td>{{payment.author}}</td>
						{%endif%}
					</tr>

		{%empty%}
					<tr>
						<td colspan="{%if request.user.is_staff%}8{%else%}9{%endif%}">Payments list empty</td>
					</tr>
		{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
{%endblock content%}