{%extends 'base.html'%}

{%block content%}


<link rel="stylesheet" href="//releases.flowplayer.org/7.0.4/commercial/skin/skin.css">

	<div class="row justify-content-center">

	<div class="flowplayer fixed-controls no-toggle no-time play-button obj col-md-9 col-sm-8 col-11"
 data-key="$812975748999788" data-live="true" data-share="false" data-ratio="0.5625"  data-logo="">
      <video autoplay="true" stretch="true">

         <source type="application/x-mpegurl" src="{{channel.link}}">
      </video>   
   </div>

   <div class="col-md-3 col-sm-4 col-8">
   		<img src="{{channel.image}}" width="100%">
   </div>

   	<div class="col-12">
		<h3 class="sub-title">Suggestions</h3>
   	</div>
    {%for similarChannel in similarChannels%}
		<div class="col-6 col-sm-3 col-md-2">
			<a href="{%url 'TV:ChannelDetail' channel.slug%}">
				<img src="{{channel.image}}" alt="{{channel.nombre}}" class="d-block mx-auto">
			</a>
		</div>
    {%endfor%}



</div>  
	<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="//releases.flowplayer.org/7.0.4/commercial/flowplayer.min.js"></script>
	<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script> 
	<script>
		flowplayer(function (api) {
			api.on("load", function (e, api, video) {
				$("#vinfo").text(api.engine.engineName + " engine playing " + video.type);
			}); 
		});
  </script>  

{%endblock content%}