{%extends 'base.html'%}

{%block content%}

	{%for ChannelsByCategory in ListOfChannelsByCategory%}

				<h3>{{ChannelsByCategory.category}}</h3>
		
			{%for channel in ChannelsByCategory.channels%}

				<div class="">
	    			<a href="{%url 'TV:ChannelDetail' channel.slug%}">
	      			<img src="{{channel.logo.url}}" alt="{{channel.nombre}}">
	    	  		</a>
	      			<p>{{channel.name}}</p>
	  			</div>

			{%empty%}
		
				<p>Lista de canales por categoria vacía</p>
		
			{%endfor%}

		{%endfor%}

	</div>

{%endblock content%}