{%extends 'base.html'%}

{%block content%}

	{%for ChannelsByCategory in ListOfChannelsByCategory%}

	<h3>{{ChannelsByCategory.category}}</h3>
		
	<div class="row">
  
			{%for channel in ChannelsByCategory.channels%}

		<div class="col-4 col-sm-3 col-md-2">
			<a href="{%url 'TV:ChannelDetail' channel.slug%}">
				<img src="{{channel.image}}" alt="{{channel.nombre}}" class="d-block mx-auto" style="width: 100%;">
			</a>
		</div>
	
			{%empty%}
		
				<p>Lista de canales por categoria vacía</p>
		
			{%endfor%}

		{%endfor%}
		</div>

	</div>

{%endblock content%}