{%extends 'base.html'%}

{%block content%}

	<link rel="stylesheet" href="//releases.flowplayer.org/7.0.4/commercial/skin/skin.css">

	<div class="row">

		<div class="flowplayer fixed-controls no-toggle no-time play-button obj col-md-8 col-12" data-key="$812975748999788" data-live="true" data-share="false" data-ratio="0.5625">
			<video autoplay="true" stretch="true">
				<source type="application/x-mpegurl" src="{{channel.link}}">
			</video>
		</div>
		<div class="col-md-4 col-sm-12 col-12">
			<img src="{{channel.image}}" width="100" class="d-none d-md-block">
			<strong><p>{{channel.name}}</p>
			<p>Notes:</p></strong>

			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							English
							</button>
						</h5>
					</div>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<p>Preference browser: Google Chrome</p>
							<p>If this channel did not load successfully, you add the extension Allow-Control-Allow-Origin: * <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en-US" target="_blank">here</a>, enable it and refresh the site</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h5 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Spanish
						</button>
						</h5>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							<p>Navegador de preferencia: Google Chrome</p>
							<p>Si este canal no se cargó correctamente, agregue la extensión Allow-Control-Allow-Origin: * <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en-US" target="_blank">aquí</a>, habilítala y actualiza la pagína</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="col-12">
		<h3 class="sub-title">Suggestions</h3>
	</div>

	{%for randomChannel in randomChannels%}

		<div class="col-6 col-sm-3 col-md-2">
			<a href="{%url 'TV:ChannelDetail' randomChannel.slug%}">
				<img src="{{randomChannel.image}}" alt="{{randomChannel.name}}" class="d-block mx-auto" style="width: 100%;">
			</a>
			<p class="text-center">{{randomChannel.name}}</p>
		</div>

	{%endfor%}

	</div>
	 
	<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="//releases.flowplayer.org/7.0.4/commercial/flowplayer.min.js"></script>
	<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script> 
	<script>
		flowplayer(function (api) {
			api.on("load", function (e, api, video) {
				$("#vinfo").text(api.engine.engineName + " engine playing " + video.type);
			}); 
		});
 	</script>

{%endblock content%}