{%extends 'base.html'%}

{%block content%}

	<div class="row">
		<div class="col-12">

	{%for ChannelsByCategory in ListOfChannelsByCategory%}

			<h2>{{ChannelsByCategory.category}}</h2>
			<div class="row">

		{%for channel in ChannelsByCategory.channels%}

				<div class="col-4 col-sm-3 col-md-2" style="background-color: red;">
					<a href="{%url 'TV:ChannelDetail' channel.slug%}">
						<img src="{{channel.image}}" alt="{{channel.name}}" class="d-block mx-auto" style="width: 100%;">
					</a>
					<p class="text-center">{{channel.name}}</p>
				</div>

		{%empty%}

				<div class="col-12">	
					<p>TV channels list empty</p>
				</div>

		{%endfor%}

			</div>

	{%endfor%}

		</div>
	</div>

{%endblock content%}